Repository lingyunmo/Lanthanum, pull requests merged in 2023-11, with the labels that each got.

#29 Update lanthanum_portal_frame and some texture
  src/main/java/cn/bzlom/lanthanum/registry/ModPortal.java
  src/main/resources/assets/lanthanum/blockstates/lanthanum_portal_frame.json
  src/main/resources/assets/lanthanum/lang/en_us.json
  src/main/resources/assets/lanthanum/lang/es_es.json
  src/main/resources/assets/lanthanum/lang/fr_fr.json
  src/main/resources/assets/lanthanum/lang/ja_jp.json
  src/main/resources/assets/lanthanum/lang/zh_cn.json
  src/main/resources/assets/lanthanum/lang/zh_tw.json
  src/main/resources/assets/lanthanum/models/block/lanthanum_portal_frame.json
  src/main/resources/assets/lanthanum/models/item/lanthanum_portal_frame.json
  src/main/resources/assets/lanthanum/textures/block/gemstone_block.png
  src/main/resources/assets/lanthanum/textures/block/lanthanum_block.png
  src/main/resources/assets/lanthanum/textures/block/lanthanum_portal_frame.png
  src/main/resources/assets/lanthanum/textures/item/gemstone_block.png
  src/main/resources/assets/lanthanum/textures/item/lanthanum_block.png
  src/main/resources/assets/lanthanum/textures/item/lanthanum_portal_frame.png
  src/main/resources/data/lanthanum/recipes/lanthanum_portal_frame_smelting.json
  src/main/resources/data/minecraft/tags/blocks/mineable/pickaxe.json
Labels: enhancement, png, language

#30 Add the thirst control part and separate client and server's implemen…
  build.gradle
  gradle.properties
  src/main/java/cn/bzlom/lanthanum/Lanthanum.java
  src/main/java/cn/bzlom/lanthanum/LanthanumClient.java
  src/main/java/cn/bzlom/lanthanum/client/ThirstHudOverlay.java
  src/main/java/cn/bzlom/lanthanum/event/KeyInputHandler.java
  src/main/java/cn/bzlom/lanthanum/event/PlayerTickHandler.java
  src/main/java/cn/bzlom/lanthanum/item/GemstoneToolMaterials.java
  src/main/java/cn/bzlom/lanthanum/item/LanthanumToolMaterials.java
  src/main/java/cn/bzlom/lanthanum/mixin/ModEntityDataSaverMixin.java
  src/main/java/cn/bzlom/lanthanum/networking/ModMessage.java
  src/main/java/cn/bzlom/lanthanum/networking/packet/DrinkingC2SPacket.java
  src/main/java/cn/bzlom/lanthanum/networking/packet/ThirstSyncDataS2CPacket.java
  src/main/java/cn/bzlom/lanthanum/utils/IEntityDataSaver.java
  src/main/java/cn/bzlom/lanthanum/utils/ThirstData.java
  src/main/resources/assets/lanthanum/lang/en_us.json
  src/main/resources/assets/lanthanum/lang/zh_cn.json
  src/main/resources/assets/lanthanum/textures/thirst/empty_thirst.png
  src/main/resources/assets/lanthanum/textures/thirst/filled_thirst.png
  src/main/resources/fabric.mod.json
  src/main/resources/modid.mixins.json
Labels: enhancement, png, version

#33 [Bug Fix] Fix issue #32
  src/main/java/cn/bzlom/lanthanum/client/ThirstHudOverlay.java
Labels: enhancement
